.message__item {
    margin-top: 5vh;
    position: relative;
  }
  
  .message__author {
    color: #1c1649;
    font-weight: 800;
    text-decoration: none;
  }

  /* .message__author:hover, .message__reply:hover, .message__complain:hover, .message__details:hover  {
 color: #F28D5F;
  } */

  .message__text {
    word-break: break-word;
    text-align: justify;
    margin-top: 1%;
  }

.message__bottom {
    width: 70%;
    align-items: center;
    max-width: 400px;

}

.message__date, .message__reply, .message__complain {
  flex-grow: 1;
}

.message__profile_pic {
border-radius: 50%;
position: absolute;
left: -4vw;
background-color: #1c1649;
width: 3vw;
height: 3vw;
}


.reply {
  margin-left: 15%;
}


@media (max-width: 1250px)
{

.message__bottom {
  width: 80%;
}


.message__profile_pic {
  left: -5vw;
  width: 4vw;
  height: 4vw;
  }

}


@media (max-width: 950px)
{

.message__bottom {
  flex-direction: column;
  font-size: 90%;
  align-items: start;
}

.message__profile_pic {
  left: -7vw;
  width: 6vw;
  height: 6vw;
  }

}
