.signForm {
   margin-top: 2vw;
}

.signForm__content{
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: repeat(3, 1fr);
    align-items: center;
    grid-gap: 2vw;
}

.left-column {
    grid-column-start: 1
}

.right-column {
    grid-column-start: 2
}

[data-tooltip]::after {
    content: attr(data-tooltip); /* Выводим текст */
    position: absolute; 
    width: 90%; 
    background: #F28D5F; 
    color: #fff; 
    padding: 0.7em; /* Поля вокруг текста */
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); /* Параметры тени */
    pointer-events: none; /* Подсказка */
    opacity: 0; /* Подсказка невидима */
    transition: 1s; /* Время появления подсказки */
    text-align: justify;
}

[data-tooltip]:hover:after {
    opacity: 1;
}